{{ if .Site.Data.team.enable }}
  {{ "<!-- Start Our Team -->" | safeHTML }}
  <section id="equipe" class="section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          {{ "<!-- section title flavio-->" | safeHTML }}
          <div class="title text-center wow fadeInUp" data-wow-duration="500ms">
            <h2>
              {{ i18n "team-title" }}
              <span class="color">{{ i18n "team-title-2" }}</span>
            </h2>
            <div class="border-meghna"></div>
          </div>
        </div>
        {{ "<!-- /section title -->" | safeHTML }}
        {{ "<!-- team member -->" | safeHTML }}
        <div
          class="col-lg-4 col-md-6 col-12 wow fadeInDown member-boxsize"
          data-wow-duration="500ms"
        >
          <div class="team-member">
            <div class="member-photo">
              {{ "<!-- member photo -->" | safeHTML }}
              <img
                class="img-fluid w-100"
                src="{{ "images/team/FlavioPereira.webp" | absURL }}"
                alt="Futuro Reciclagem"
              />
              {{ "<!-- member social profile -->" | safeHTML }}
              <div class="mask">
                <ul class="list-inline">
                  <li class="list-inline-item">
                    <a href="https://www.linkedin.com/in/joseflaviopereira/"
                      ><i class="tf-ion-social-linkedin"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>

            {{ "<!-- member name & designation -->" | safeHTML }}
            <div class="member-meta">
              <h4>Flavio Pereira</h4>
              <span>{{ i18n "member-flavio-designation" }}</span>
              <p>{{ i18n "member-flavio-description" }}</p>
            </div>
          </div>
        </div>
        {{ "<!-- end team member -->" | safeHTML }}
        {{ "<!-- team member leonardo -->" | safeHTML }}
        <div
          class="col-lg-4 col-md-6 col-12 wow fadeInDown member-boxsize"
          data-wow-duration="500ms"
        >
          <div class="team-member">
            <div class="member-photo">
              {{ "<!-- member photo -->" | safeHTML }}
              <img
                class="img-fluid w-100"
                src="{{ "images/team/LeonardoSoares.webp" | absURL }}"
                alt="Futuro Reciclagem"
              />
              {{ "<!-- member social profile -->" | safeHTML }}
              <div class="mask">
                <ul class="list-inline">
                  <li class="list-inline-item">
                    <a
                      href="https://www.linkedin.com/in/leonardogonzalezsoares/"
                    >
                      <i class="tf-ion-social-linkedin"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>

            {{ "<!-- member name & designation -->" | safeHTML }}
            <div class="member-meta">
              <h4>Leonardo Soares</h4>
              <span>{{ i18n "member-leonardo-designation" }}</span>
              <p>{{ i18n "member-leonardo-description" }}</p>
            </div>
          </div>
        </div>
        {{ "<!-- end team member -->" | safeHTML }}
        {{ "<!-- team member antonio -->" | safeHTML }}
        <div
          class="col-lg-4 col-md-6 col-12 wow fadeInDown member-boxsize"
          data-wow-duration="500ms"
        >
          <div class="team-member">
            <div class="member-photo">
              {{ "<!-- member photo -->" | safeHTML }}
              <img
                class="img-fluid w-100"
                src="{{ "images/team/AntonioCarlosSenra.webp" | absURL }}"
                alt="Futuro Reciclagem"
              />
              {{ "<!-- member social profile -->" | safeHTML }}
              <div class="mask">
                <ul class="list-inline">
                  <li class="list-inline-item">
                    <a href="https://www.linkedin.com/in/acsenrafilho/">
                      <i class="tf-ion-social-linkedin"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>

            {{ "<!-- member name & designation -->" | safeHTML }}
            <div class="member-meta">
              <h4>Antonio Carlos Senra, PhD</h4>
              <span>{{ i18n "member-antonio-designation" }}</span>
              <p>{{ i18n "member-antonio-description" }}</p>
            </div>
          </div>
        </div>
        {{ "<!-- end team member -->" | safeHTML }}
        {{ "<!-- team member diego-->" | safeHTML }}
        <div
          class="col-lg-4 col-md-6 col-12 wow fadeInDown member-boxsize"
          data-wow-duration="500ms"
        >
          <div class="team-member">
            <div class="member-photo">
              {{ "<!-- member photo -->" | safeHTML }}
              <img
                class="img-fluid w-100"
                src="{{ "images/team/DiegoGonzales.webp" | absURL }}"
                alt="Futuro Reciclagem"
              />
              {{ "<!-- member social profile -->" | safeHTML }}
              <div class="mask">
                <ul class="list-inline">
                  <li class="list-inline-item">
                    <a href="https://www.linkedin.com/in/diegogonzalesdesouza/">
                      <i class="tf-ion-social-linkedin"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>

            {{ "<!-- member name & designation -->" | safeHTML }}
            <div class="member-meta">
              <h4>Diego Gonzales</h4>
              <span>{{ i18n "member-diego-designation" }}</span>
              <p>{{ i18n "member-diego-description" }}</p>
            </div>
          </div>
        </div>
        {{ "<!-- end team member -->" | safeHTML }}
        {{ "<!-- team member roberto-->" | safeHTML }}
        <div
          class="col-lg-4 col-md-6 col-12 wow fadeInDown member-boxsize"
          data-wow-duration="500ms"
        >
          <div class="team-member">
            <div class="member-photo">
              {{ "<!-- member photo -->" | safeHTML }}
              <img
                class="img-fluid w-100"
                src="{{ "images/team/RobertoLellis.webp" | absURL }}"
                alt="Futuro Reciclagem"
              />
              {{ "<!-- member social profile -->" | safeHTML }}
              <div class="mask">
                <ul class="list-inline">
                  <li class="list-inline-item">
                    <a href="https://www.linkedin.com/in/robertolellis/">
                      <i class="tf-ion-social-linkedin"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>

            {{ "<!-- member name & designation -->" | safeHTML }}
            <div class="member-meta">
              <h4>Roberto Lellis</h4>
              <span>{{ i18n "member-roberto-designation" }}</span>
              <p>{{ i18n "member-roberto-description" }}</p>
            </div>
          </div>
        </div>
        {{ "<!-- end team member -->" | safeHTML }}
        {{ "<!-- team member fernando-->" | safeHTML }}
        <div
          class="col-lg-4 col-md-6 col-12 wow fadeInDown member-boxsize"
          data-wow-duration="500ms"
        >
          <div class="team-member">
            <div class="member-photo">
              {{ "<!-- member photo -->" | safeHTML }}
              <img
                class="img-fluid w-100"
                src="{{ "images/team/Fernando.webp" | absURL }}"
                alt="Futuro Reciclagem"
              />
              {{ "<!-- member social profile -->" | safeHTML }}
              <div class="mask">
                <ul class="list-inline">
                  <li class="list-inline-item">
                    <a
                      href="https://www.linkedin.com/in/fernando-ll-schmiegelow-3b6319/"
                    >
                      <i class="tf-ion-social-linkedin"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>

            {{ "<!-- member name & designation -->" | safeHTML }}
            <div class="member-meta">
              <h4>Fernando Schmiegelow</h4>
              <span>{{ i18n "member-fernando-designation" }}</span>
              <p>{{ i18n "member-fernando-description" }}</p>
            </div>
          </div>
        </div>
        {{ "<!-- end team member -->" | safeHTML }}
        {{ "<!-- team member gizele-->" | safeHTML }}
        <div
          class="col-lg-4 col-md-6 col-12 wow fadeInDown member-boxsize"
          data-wow-duration="500ms"
        >
          <div class="team-member">
            <div class="member-photo">
              {{ "<!-- member photo -->" | safeHTML }}
              <img
                class="img-fluid w-100"
                src="{{ "images/team/GizeleDelboni.webp" | absURL }}"
                alt="Futuro Reciclagem"
              />
              {{ "<!-- member social profile -->" | safeHTML }}
              <div class="mask">
                <ul class="list-inline">
                  <li class="list-inline-item">
                    <a
                      href="https://www.linkedin.com/in/gizele-delboni-25891b89/"
                    >
                      <i class="tf-ion-social-linkedin"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>

            {{ "<!-- member name & designation -->" | safeHTML }}
            <div class="member-meta">
              <h4>Gizele Delboni</h4>
              <span>{{ i18n "member-gizele-designation" }}</span>
              <p>{{ i18n "member-gizele-description" }}</p>
            </div>
          </div>
        </div>
        {{ "<!-- end team member -->" | safeHTML }}
      </div>
    </div>
  </section>
  {{ "<!-- /team -->" | safeHTML }}
{{ end }}
